body{
	background-color: #f0f2f4;
	margin: 0;
}
.clear{clear: both;}
.form_container{
	padding: 15px;
	width: 300px;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 40 auto;
	position: relative;
	font-family: sans-serif;
	top: 0;left: 0;right: 0;bottom: 0;
}
.form_container h3{
	
}
.form_container p{
	color: red;
}
.form input{
	padding: 15px;
	font-size: 20px;
	text-align: center;
	margin: 10 0;
	width: 100%;
}
.form input.submit{
	border: none;
	background-color: #699e4f;
	color: white;
	cursor: pointer;
	transition: 200ms;
}
.form input.submit:hover{
	background-color: #149e16;
}

#adminorderslist{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.adminorderslistlist{
}
.nav{
	font-family: sans-serif;
	border-bottom: 1px solid #ccc;
	padding: 15px;
}
.nav h3{
	display: inline-block;
	margin: 0;
}
.nav span{
	margin-left: 30px;
	font-size: 14px;
	margin-top: 5;
	float: right;
}
.nav span a{
	color: #ad5757;
	text-decoration: none;
}
.nav span a:hover{
	color: #9d4747;
	text-decoration: underline;
}
.orders_main{
	margin: 10;
	font-family: sans-serif;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}
.orders_main h3{
	margin: 0;
	color: rgb(255, 92, 117);
	padding: 5;
	font-size: 22;
	background-color: rgb(250, 248, 248);
	border-bottom: 1px solid #ddd;
}
.orders_main .adminorderslist_li{
	background-color: #fff;
	padding: 5px;
	border-bottom: 1px solid #cfd5d9;
	margin-top: 0;
}
.orders_main .adminorderslist_li .order_name{
	color: #5699ad;
	font-size: 20px;
	margin-right: 20px;
	cursor:	default;
}
.orders_main .adminorderslist_li .order_email{
	color: #ff7a70;
	font-size: 12;
	margin-right: 5px;
	cursor:	default;
	float: right;
}
.orders_main .adminorderslist_li .order_email:hover{
	text-decoration: underline;
}
.orders_main .adminorderslist_li .order_phone{
	color: #abb;
	cursor:	default;
	font-size: 12;
	float: right;
}
.orders_main .adminorderslist_li .order_phone:hover{
	text-decoration: underline;
}
.orders_main .adminorderslist_li .order_date{
	color: #999;
	font-size: 12;
}
.orders_main .adminorderslistlist{
	margin: 10 0;
	padding: 0;
	list-style: none;
}
.orders_main .adminorderslistlist li{
	margin: 0 5;
	border-bottom: 1px solid #ddd;
	padding: 5;
}
.orders_main .adminorderslistlist li:hover{
	background-color: #eee;
}


